@inject IEnumerable<DotNetEd.CoreAdmin.CoreAdminSecurityOptions> SecurityOptions
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvionment
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Core Admin</title>
    <link rel="stylesheet" href="~/_content/CoreAdmin/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/_content/CoreAdmin/css/mvc-grid/mvc-grid.css" />
    <link rel="stylesheet" href="~/_content/CoreAdmin/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Core Admin</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">*@
        <ul class="navbar-nav px-3">
            @*<li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>*@
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">

                    @await Component.InvokeAsync("CoreAdminMenu")
                    
                </div>
            </nav>
            
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

                @if (WebHostEnvionment.EnvironmentName == "Development")
                {
                    @if (SecurityOptions == null || !SecurityOptions.Any())
                    {
                        <div class="alert alert-warning mt-3 mb-0" role="alert">
                            You are running in Development mode. No security has been set on Core Admin. Core Admin will not be accessible in non-Development
                            environments until security has been set up. See the documentation at <a href="https://github.com/edandersen/core-admin">https://github.com/edandersen/core-admin</a>.
                        </div>
                     }
                 }



                @RenderBody()

            </main>
        </div>
       
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - DotNetEd.CoreAdmin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/_content/CoreAdmin/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/_content/CoreAdmin/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/_content/CoreAdmin/js/mvc-grid/mvc-grid.js"></script>
    <script src="~/_content/CoreAdmin/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
