@using DotNetEd.CoreAdmin
@using Microsoft.Extensions.Localization
@inject IEnumerable<DotNetEd.CoreAdmin.CoreAdminOptions> CoreAdminOptions
@inject IStringLocalizer<JsonLocalizer> _localizer
@{
    string assetsPath = "/_content/AmplifiAdminPortal";
    if (CoreAdminOptions.Any())
    {
        string cdnPath = CoreAdminOptions.First().CdnPath;
        if (cdnPath != null)
        {
            assetsPath = cdnPath;
        }
    }

    var options = CoreAdminOptions.FirstOrDefault();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Page_Title"] - @options?.Title</title>

    <meta name="color-scheme" content="light dark" />

    <link rel="stylesheet" class="meta-css-dark" href="@assetsPath/css/bootstrap-dark.min.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" class="meta-css-light" href="@assetsPath/css/bootstrap.min.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)" />
    <link rel="stylesheet" class="meta-css-dark" href="@assetsPath/css/mvc-grid/mvc-grid-dark.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" class="meta-css-light" href="@assetsPath/css/mvc-grid/mvc-grid.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)" />
    <link rel="stylesheet" href="@assetsPath/css/easymde/easymde.min.css" />
    <link rel="stylesheet" class="meta-css-dark" href="@assetsPath/css/easymde/easymde-dark.min.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="@assetsPath/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="@assetsPath/css/site.css" />
</head>
<body>
    <!-- Content -->
    <div class="d-flex" id="wrapper">
        <div class="container-fluid">
            <main role="main" class="px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="@assetsPath/js/jquery.min.js"></script>
    <script src="@assetsPath/js/bootstrap.bundle.min.js"></script>
    <script src="@assetsPath/js/mvc-grid/mvc-grid.js"></script>
    <script src="@assetsPath/js/site.js" asp-append-version="true"></script>
    <script src="@assetsPath/js/jquery.validate.js"></script>
    <script src="@assetsPath/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="@assetsPath/js/jquery-ui.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>