@{
    ViewData["Title"] = ViewBag.DbSetName;
    Layout = "_AutoAdminLayout";
}

<h1 class="display-4">@ViewBag.DbSetName - Create</h1>


@using (Html.BeginForm("CreateEntityPost", "AutoAdminData", new { dbSetName = ViewBag.DbSetName }, FormMethod.Post))
{


        @Html.Hidden("dbSetName", ViewBag.DbSetName, new { })

        @Html.EditorForModel("DefaultEntity")

        <div class="row">
            <div class="col-md-12 px-4">
                <button type="submit" class="btn btn-primary">Create</button>

                @Html.ActionLink("No, go back", "Index", new { Id = ViewBag.DbSetName })

            </div>
        </div>

    
}

