@model string

@Html.TextArea("", ViewData.TemplateInfo.FormattedModelValue.ToString(), 8, 0, new { @class = "text-box multi-line form-control" })
@*<span class="help-block"><a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a> is supported.</span>*@

