@model DotNetEd.CoreAdmin.ViewModels.MenuViewModel
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" title="Home" href="@Url.Action("Index", "CoreAdmin")">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>

            Home
        </a>

    </li>
    
    <li class="treeview">
        @foreach (var dbTables in Model.Db2Tables)
        {
            <li>
                <span class="collapsible">
                    <a class="nav-link" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database"><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path></svg>
                        @dbTables.Key
                    </a>
                </span>
                <ul>
                    @foreach (var table in dbTables.Value)
                    {
                        <span>
                            <a class="nav-link text-break" title="@table" href="@Url.Action("Index", "CoreAdminData", new { Id = dbTables.Key + " - " + table})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>

                            @table
                        </a>
                        </span>
                    }
                </ul>
            </li>
        }
    </li>
</ul>
