@model DotNetEd.CoreAdmin.ViewModels.MenuViewModel
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" title="Home" href="@Url.Action("Index", "CoreAdmin")">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>

                Home
            </a>

        </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
        <span>Resources</span>
    </h6>
    <ul class="nav flex-column mb-auto">
        @foreach (var dbSetName in Model.DbSetNames)
        {
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" title="@dbSetName" href="@Url.Action("Index", "CoreAdminData", new { Id = dbSetName })">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>

                    @dbSetName
                </a>
            </li>
        }
    </ul>