@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Admin demo</h1>
    <p>Click @Html.ActionLink("here", "Index", "AutoAdminHome") to view the Auto Admin panel.</p>
</div>
