@model DotNetEd.CoreAdmin.ViewModels.VerificationModel
@{
    Layout = "_LoginLayout";
}

<div class="login-page">
    <div class="row">
        <div class="col-sm-3" style="margin-left: auto; margin-right: auto;">
            <div class="panel panel-default" style="margin-top: 50%; margin-bottom: 50%">
                <div class="panel-heading">
                    <h3 class="panel-title">Authentication code</h3>
                </div>

                <div class="panel-body">
                    <form method="post" action="/Account/Verification">
                        <input type="hidden" asp-for="Token" />
                        <input type="hidden" asp-for="MFACode" />
                        <input type="hidden" asp-for="RememberMe" />

                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="XXXXXX" asp-for="Code" autofocus>
                            </div>
                            <div class="my-3">
                                <button class="btn btn-primary">Verify</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>