.EasyMDEContainer .editor-toolbar {
    background-color: #3b3b3b;
    border-color: #515151;
}

.EasyMDEContainer .editor-toolbar button {
    color: #ffffff;
}

.editor-toolbar button.active, .editor-toolbar button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #515151;
}

.EasyMDEContainer .editor-toolbar .separator {
    border-color: #515151;
}

.EasyMDEContainer .CodeMirror {
    background-color: #3b3b3b;
    color: #ffffff;
    border-color: #515151;
}

.EasyMDEContainer .CodeMirror-cursor {
    border-color: #ffffff;
}

.CodeMirror-selected {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.EasyMDEContainer .editor-preview {
    color: #000;
}