@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Admin demo</h1>
    <p>Click @Html.ActionLink("here", "Index", "CoreAdmin") to view the Core Admin panel.</p>
</div>
