body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Wrapper
 */
#wrapper {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  margin-left: 317px;
}

.sb-sidenav-toggled #page-content-wrapper {
  margin-left: 0;
}

/*
 * Sidebar
 */
.sidebar-width {
  width: 317px;
}

#sidebar-wrapper {
  min-height: 100vh;
}

body.sb-sidenav-toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 !important;
  }

  .navbar-brand {
    width: 100% !important;
    margin: 0;
  }

  #sidebar-wrapper {
    width: 100% !important;
    min-width: 100%;
  }

  body.sb-sidenav-toggled #sidebar-wrapper {
    margin-left: -100vw;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #sidebar-wrapper {
    margin-left: -100vw;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 48px 0 0; /* Height of navbar */
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

/*
 * Navbar
 */

.navbar-brand {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);

  height: 48px;
  overflow: hidden;
  padding: 0.25rem 0;
}

.sb-sidenav-toggled .navbar-brand {
    background-color: transparent;
    box-shadow: 0px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.0);
} 

.navbar-brand a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  height: 48px;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

h1.display-4 {
  padding-top: 20px;
}
